# Distribution / packaging
.idea
*.env
__pycache__/

# dotenv
.env

# virtualenv
venv/
ENV/
env/
media/

# project settings
/src/media/*
/src/videos/*
/.idea
/env/
/src/cache/*
config.env
*.sh

# .vscode
.vscode/